/*navigation*/
.navbar {
    color:#ffffff;
    background-color: #ffffff;
    font-family: 'Lora', sans-serif;
    font-size:xx-large;
    text-transform: uppercase;
}

.nav-link {
    margin-right: 5px;
}

.navbar-collapse {
    padding-left: 600px;
}

.pawmium-logo {
    margin-right:125px;
}