/*navigation*/
.navbar {
    color:#ffffff;
    background-color: #ffffff;
    font-family: 'Lora', sans-serif;
    font-size:xx-large;
    text-transform: uppercase;
}

.nav-link {
    margin-right: 5px;
}

.navbar-collapse {
    padding-left: 600px;
}

.pawmium-logo {
    margin-right:125px;
}

/*Hero image section*/

#hero-image {
    height: 500px;
    width:100%;
    background:url(../images/smiley-new.jpg) no-repeat center center;
    position:relative;
  }

  #hero-image-text, hero-image-text h2 {
    color:#ffffff;
    ;
  }
  
  #hero-image-text {
    font-size:130%;
    font-family: 'Lora', sans-serif;
    letter-spacing:4px;
    width:300px;
    height:400px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(20, 20, 20, .7);
    top:50px;
    left:50px;
    position: absolute;
    text-align: center;
  }
  .more-info {
    background-color:#0d0d0d;
    color:#ffffff;
    font-family: 'Lora', sans-serif;
  }

  /*Why choose pawmium section*/
  .check {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }

.stats h3 {
    padding-top: 25px;
  }
  
  .stats p {
    padding-top: 25px;
  }

  .stress-reasons {
    height: 250px;
    width: 200px;
    border-radius: 50%;
    font-family: 'Lora', sans-serif;
    padding-bottom: 5px;
    padding-top: 25px;
  }

  .why-choose {
    padding-left: 10px;
    padding-right: 10px;
  }

    /*Quotes section*/

    .quotes {
      background-color: #ffffff;
      color: #000000;
      font-family: 'Lora', sans-serif;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-right: 50px;
      padding-left: 50px;
      margin-left: 10px;
    }
    
    .quotes img {
      width:500px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

 /*colors section*/
